<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
		<title>G archiv</title>
		
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<script src="js/jquery-2.1.4.min.js"></script>  
		<script src="js/bootstrap.js"></script>


		<link href="/css/bootstrap.css" rel="stylesheet">
        

	{% for script in js %}
		<script src="{{ ugen.js(script) }}" rel="stylesheet"></script>
	{% endfor %}



	{% for style in css %}
		<link href="{{ ugen.css(style) }}" rel="stylesheet">
	{% endfor %}
    </head>
    <body>
		<div class="row" style="margin-top: 20px">
			<div class="col-xs-offset-1 col-xs-9">
				<div id="headder">
					G archiv
				</div>
			</div>
		</div>
		<div id="bodyContainer" class="row">
			<div id="navMenu" class="col-xs-offset-1 col-xs-2">
				<ul class="list-group">
					{% for nav in menu %}
						<li class="list-group-item{% if nav['active'] %} active{% endif %}">
							<a href="{{ ugen.aUrl(nav['action']) }}">{{ nav['title'] }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div id="bodyContent" class="col-xs-8 well">
				{{ block('bodyContent') }}
			</div>
		</div>
    </body>
</html>
