{% extends layout %}


{% block bodyContent %}
	<h1>{{ subtitle }}</h1>
	<form action="{{ formAction }}" method="post" enctype="multipart/form-data">
		<fieldset name="std"><legend>Základní</legend>
			<label for="name">Jméno hry</label>
			<input type="text" name="name" value="{{ default.name}}">
			<br>
			<label for="picture">Titulní obrázek</label>
			<input type="file" name="picture" id="picture">
			<br>
			<label for="picture_description">Popis obrázku</label>
			<input type="text" name="picture_description">
		</fieldset>
		<fieldset name="states"><legend>Stavy komponent</legend>
			<label for="cartridge_state">Cartridge</label>
			{% include "mini/stateSelect.twig" with {"name":"cartridge_state", "states": states, "default": default.cartridge_state}%}
			<br/>
			<label for="packing_state">Balení</label>
			{% include "mini/stateSelect.twig" with {"name":"packing_state", "states": states, "default": default.packing_state}%}
			<br/>
			<label for="manual_state">Manuál</label>
			{% include "mini/stateSelect.twig" with {"name":"manual_state", "states": states, "default": default.manual_state}%}
		</fieldset>
		<fieldset name="opinion">
			<legend>Poznatky</legend>
			<label for="completion">Dokončení</label>
			<input type="range" name="completion" min="0" max="{{range_accuracy}}" value="{{ default.completion }}">
			<br/>
			<label for="affection">Obliba</label>
			<input type="number" name="affection" min="1" max="{{max_affection}}" value="{{ default.affection}}">
		</fieldset>
		<input type="submit" value="{{ submitLabel }}" style="width:240px; height:40px">
	</form>
	
{% endblock %}