{% extends layout %}


{% block bodyContent %}
	<h1>{{ subtitle }}</h1>
	<form action="{{ formAction }}" class="" method="post" enctype="multipart/form-data">
		<fieldset class="form-group" name="std"><legend>Základní</legend>
			<div class="row">
				<div class="col-xs-6">
			<label class="control-label" for="name">Název</label>
			<input class="form-control" type="text" name="name" value="{{ default.name}}">
				</div>
				<div class="col-xs-6">
					<label class="control-label" for="picture">Titulní obrázek</label>
					<div class="input-group">
						<span class="input-group-btn">
							<span class="btn btn-default btn-file">
								Procházet… <input type="file" name="picture">
							</span>
						</span>
						<input type="text" class="form-control" readonly="">
					</div>
				</div>
			</div>
				
			<label for="picture_description">Popis obrázku</label>
			<input class="form-control" type="text" name="picture_description">
		</fieldset>
		<fieldset name="states"><legend>Stavy komponent</legend>
			<div class="row">
				<div class="col-xs-4">
					<label class="control-label" for="cartridge_state">Cartridge</label>
					{% include "mini/stateSelect.twig" with {"name":"cartridge_state", "states": states, "default": default.cartridge_state}%}
				</div>
				<div class="col-xs-4">
					<label class="control-label" for="packing_state">Balení</label>
					{% include "mini/stateSelect.twig" with {"name":"packing_state", "states": states, "default": default.packing_state}%}
				</div>
				<div class="col-xs-4">
					<label class="control-label" for="manual_state">Manuál</label>
					{% include "mini/stateSelect.twig" with {"name":"manual_state", "states": states, "default": default.manual_state}%}
				</div>
			</div>
		</fieldset>
		<fieldset name="opinion">
			<legend>Poznatky</legend>
			<label class="control-label" for="completion">Dokončení</label>
			<div class="input-group">
				<input class="form-control" type="range" name="completion" min="0" max="{{range_accuracy}}" value="{{ default.completion }}">
				<div class="input-group-addon">
					30%
				</div>
			</div>
			<br/>
			<label class="control-label" for="affection">Obliba</label>
			<input class="form-control" type="number" name="affection" min="1" max="{{max_affection}}" value="{{ default.affection}}">
		</fieldset>
		
		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<input class="form-control btn btn-default" type="submit" value="{{ submitLabel }}" style="width:240px; height:40px">
			</div>
		</div>
	</form>
	
{% endblock %}